@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
img, input {
	border: none;
}
.clear {
	clear: both;
}
body {
	font-family: arial;
}
body, html {
	height: 100%;
}
.inner {
	width: 1280px;
	margin: 0 auto;
}
header {
	height: 75px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}
.logo {
	padding-top: 25px;
	float: left;
}
nav {
	float: left;
	padding-left: 33px;
	padding-top: 24px;
}
nav li {
	float: left;
}
nav li a {
	padding: 0 21px;
	line-height: 51px;
	color: #5d5f5e;
	text-transform: uppercase;
	font-size: 14px;
}
header nav li:first-child a {
	color: #e4bc78;
}
header nav li:hover a {
	color: #e4bc78;
}
.pic_nav {
	float: right;
}
.pic_nav a {
	font-family: 'FontAwesome';
	font-size: 17px;
	color: #343434;
	padding-right: 22px;
	line-height: 51px;
}
.pic_nav li {
	float: left;
	padding-top: 24px;
}
#banner {
	height: 100%;
	background-image: url(../images/oshin-slide-1.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
.ad {
	width: 364px;
	height: 235px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.ad p:first-child {
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 7px;
	text-align: center;
	padding-bottom: 33px;
	animation: run1 0.5s;
}
.ad p:nth-child(2) {
	width: 350px;
	height: 94px;
	border: 7px #000 solid;
	text-align: center;
	line-height: 102px;
	font-size: 32px;
	letter-spacing: 11px;
	font-weight: bold;
	animation: run2 0.5s;
}
.ad p:last-child {
	padding-top: 45px;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	font-family: sans-serif;
	font-size: 24px;
	animation: run3 0.5s;
}
 @keyframes run1 {
 0% {
transform: translateX(-200%);
opacity:0
}
 100% {
transform: translateX(0);
opacity: 1
}
}
@keyframes run2 {
 0% {
transform: translateY(200%);
opacity:0
}
 100% {
transform: translateX(0);
opacity: 1
}
}
@keyframes run3 {
 0% {
transform: translateX(200%);
opacity:0
}
 100% {
transform: translateX(0);
opacity: 1
}
}
#oshine h2 {
	text-align: center;
	line-height: 27px;
	padding-top: 98px;
}
#oshine p {
	line-height: 110px;
	text-align: center;
	font-family: sans-serif;
	color: #796297;
	font-style: italic;
}
.lingxing a {
	margin: 0 auto;
	width: 14px;
	height: 14px;
	background-color: #e0a240;
	display: block;
	position: relative;
	transform: rotate(45deg);
}
.lingxing a:before {
	content: '';
	width: 20px;
	height: 1px;
	background-color: #e8e8e8;
	position: absolute;
	top: 32px;
	right: 22px;
	transform: rotate(-45deg);
}
.lingxing a:after {
	content: '';
	width: 20px;
	height: 1px;
	background-color: #e8e8e8;
	position: absolute;
	bottom: 32px;
	left: 22px;
	transform: rotate(-45deg);
}
#oshine .oshine {
	line-height: 33px;
	font-family: Arial;
	padding: 34px 33px 100px;
	font-style: normal;
}
.big_pic img {
	width: 100%;
	text-align: center;
}
#icon a {
	display: block;
	float: left;
	width: 25%;
	height: 246px;
	color: #000;
	text-align: center;
}
#icon a i {
	font-family: 'FontAwesome';
	font-size: 60px;
	padding-top: 60px;
	display: inline-block;
	padding-top: 60px;
	font-style: normal;
	transition: all 0.5s;
}
#icon a:nth-child(2N+1) {
	background-color: #f2f5f8;
}
#icon a:nth-child(2N) {
	background-color: #edf0f2;
}
#icon a:hover i {
	padding-top: 40px;
	transform: scale(1.2);
	color: #e7ba94;
}
#icon a:hover {
	color: #fff;
}
#icon a:hover h3 {
	color: #e7ba94;
}
#main {
	margin: 92px 15px;
	position: relative;
}
.main_l {
	width: 337px;
	float: left;
	height: 227px;
	margin-top: 32px;
	
}
#main h3 {
	line-height: 21px;
	padding-top: 5px;
}
#main h3 a {
	font-family: 'FontAwesome';
	margin-right: 33px;
	font-size: 28px;
	color: #e8ba56;
}
#main p {
	line-height: 26px;
	padding-top: 16px;
	color: #6e7374;
	padding-left: 60px;
	padding-bottom: 59px;
}
.pic_iphone {
	float: left;
	width: 366px;
	height: 693px;
	padding-left: 81px
}
.pic_iphone img {
	width: 363px;
	height: 693px;
	box-shadow: 0 2px 1px 0 color#dcdddd;
}
.main_r {
	width: 337px;
	float: left;
	height: 227px;
	margin-top: 32px;
	margin-left: 64px;
	
}
#fixed {
	height: 400px;
	background: url(../images/banner_02.jpg) fixed no-repeat center center;
	background-size: cover;
}
#our_work {
	height: 428px;
	text-align: center;
}
#our_work h2 {
	line-height: 27px;
	padding-top: 98px;
}
#our_work p {
	line-height: 110px;
	font-family: sans-serif;
	font-style: italic;
}
.fangxing {
	float: right;
	margin-top: 40px;
	margin-right: 20px;
	background-color: #e0a240;
}
.fangxing a {
	background-image: url(../images/fangxing_03.jpg);
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	background-position: center;
	display: block;
}
#our_work li {
	float: left;
	display: inline-block;
}
#our_work ul {
	margin: 0 auto;
	width: 596px;
}
#our_work li a {
	border: 1px #fff solid;
	padding: 16px 20px;
	color: #000;
	transition: all 0.5s
}
#our_work li:first-child a {
	color: #e0a240;
}
#our_work li:hover a {
	border: 1px #e0a240 solid;
	color: #e0a240;
	transform: scale(1.2);
}
#our_work li:hover {
	transform: scale(1.8);
}
#work li {
	float: left;
	width: 32%;
	margin-right: 2%;
	margin-bottom: 20px;
	font-size: 0px;
	position: relative;
}
#work li img {
	width: 100%;
}
#work li:nth-child(3n) {
	margin-right: 0;
}
#work li a {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	opacity: 0
}
#work li h3 {
	color: #000;
	font-size: 30px;
	padding-top: 50px;
}
#work li a:hover {
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.4);
}
#work li h3:hover {
	color: #fff;
}
.vaw {
	text-align: center;
	margin-bottom: 90px;
}
.vaw a {
	border: 2px #000 solid;
	width: 158px;
	height: 44px;
	line-height: 44px;
	display: inline-block;
	color: #55091c;
	box-shadow: inset 10px 10px 20px 22px rgba(204,204,255,0.8);
	transition: all 0.5s;
}
.vaw a:hover {
	width: 250px;
	box-shadow: inset 10px 10px 20px 22px rgba(255,102,255,1)
}
#mail {
	height: 413px;
	background-color: #f2f3f8;
	text-align: center;
}
#mail .fa-twitter {
	font-family: 'FontAwesome';
	color: #dfdfdf;
	padding-top: 98px;
	font-size: 36px;
	display: inline-block;
	transition: all 1s
}
.fa-twitter:hover {
	transform: scale(2) rotate(360deg);
	padding-bottom: 98px;
	color: #FC3;
}
#mail p {
	line-height: 36px;
	padding-top: 26px;
	color: #5f6263;
}
#mail span {;
	color: #e3a25e;
}
#mail p a {
	color: #e3a25e;
}
#clients {
	height: 334px;
	text-align: center;
}
#clients h2 {
	padding-top: 101px;
	padding-bottom: 55px;
}
#clients p {
	color: #79627d;
	font-style: italic;
	padding-bottom: 52px;
}
#pulp {
	height: 467px;
	padding-bottom: 90px;
}
#pulp img {
	width: 100%
}
.pic_l {
	width: 48%;
	float: left;
	transition: all 0.5s;
}
.pic_r {
	width: 48%;
	float: right;
	transition: all 0.5s;
}
.pic_l:hover, .pic_r:hover {
	transform: scale(1.2);
}
#get {
	height: 339px;
	background-image: url(../images/1_02.jpg);
	text-align: center;
}
#get h2 {
	color: #fff;
	padding-top: 103px;
	padding-bottom: 32px;
}
#get p {
	color: #fff;
}
#get a {
	color: #fff;
	width: 110px;
	height: 44px;
	display: inline-block;
	background-color: #f0b452;
	line-height: 44px;
	margin-top: 38px;
	transition: all 1s;
}
#get a:hover {
	transform: scale(1.2);
	background-color: #F1E098;
	color: #D0070A;
}
footer {
	height: 437px;
	padding-top: 70px;
	background-color: #f2f3f8;
}
.footer_t {
	height: 438px;
}
.list {
	width: 276px;
	float: left;
	padding-left: 44px;
}
.list p {
	line-height: 24px;
	margin-top: 30px;
	margin-bottom: 37px;
	color: #858583;
}
.tubiao li {
	float: left;
	width: 30px;
	height: 30px;
	border: 1px #e0a240 solid;
	border-radius: 15px;
	margin-right: 13px;
	transition: all 1s;
}
.tubiao li:hover {
	transform: scale(1.8) rotate(360deg);
}
.tubiao a {
	font-family: 'FontAwesome';
	color: #e0a240;
	text-align: center;
	display: block;
	padding-top: 9px;
}
.list1 {
	width: 276px;
	float: left;
	padding-left: 44px;
}
.list1 h4 {
	padding-bottom: 33px;
}
.list1 p {
	line-height: 28px;
	color: #919192;
	font-size: 14px;
}
.smoll_pic {
	float: left;
	margin-right: 10px;
	transition: all 0.5s;
	cursor: pointer;
}
.date {
	margin-bottom: 39px;
}
.list1 .smoll_pic:hover {
	transform: scale(1.2);
}
.list2 {
	width: 276px;
	float: left;
	padding-left: 44px;
}
.list2 ul {
	margin-top: 18px;
}
.list2 li a {
	line-height: 40px;
	padding-left: 16px;
	color: #817c78;
}
.list2 li:hover a {
	color: #ebba4b;
}
.list2 li:hover {
	transform: scale(1.2);
	color: #ebba4b;
	padding-left: 15px;
}
. list3 {
 width: 276px;
 float: left;
 padding-left: 44px;
}
.list3 li {
	float: left;
	padding-right: 15px;
	padding-top: 15px;
	transition: all 0.5s;
}
.list3 img {
	width: 70px;
	height: 70px;
}
.list3 li:hover {
	transform: scale(1.5);
}
.footer_b {
	text-align: center;
	color: #8c9195;
}
.footer_b p {
	line-height: 70px;
}
 @media screen and (max-width:1280px) {
    #oshine .inner, #icon .inner, #work .inner, #our_work .inner, #our_work .inner, #pulp .inner, footer .inner{
	   width: 100%;
     }
    #main .inner{width:100%;}
	
	#main .pic_iphone{display:none;}
}
